<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
  <main class="container">
    <header>
      <h1>{{ title }}</h1>
      <h2>{{ description }}</h2>
    </header>
    <hr>
    <section class="row">
      <article class="col">
        {{ content | safe }}
      </article>
      <aside class="col">
        <img src="./img/the-queen-warrior.jpg" alt="the queen warrior">
      </aside>
    </section>
    <hr>
    <footer>
      <p>&copy; 2020 The Queen Warrior. Made with 💖 love</p>
    </footer>
  </main>
</body>
</html>