---
title: Hello!
layout: eleventy.layout.njk
description: How are you?
---

<section id="1" class="section">
  <div>
    <h1 class="section-title">Hi, princess!</h1>
    <p class="section-text">How are you?</p>
    <a href="#2" class="link">
      I'm fine
    </a>
  </div>
</section>
<section id="2" class="section">
  <div>
    <h2 class="section-title">I'm fine</h2>
    <p class="section-text">I'm glad to hear that!</p>
    <a href="#3" class="link">
      I'm glad too
    </a>
  </div>
</section>
<section id="3" class="section">
  <div>
    <h2 class="section-title">I'm glad too</h2>
    <p class="section-text">How is your work going?</p>
    <a href="#4" class="link">
      It's going well
    </a>
  </div>
</section>
<section id="4" class="section">
  <div>
    <h2 class="section-title">It's going well</h2>
    <p class="section-text">That's great!</p>
    <a href="#5" class="link">
      Thank you
    </a>
  </div>
</section>
<section id="5" class="section">
  <div>
    <h2 class="section-title">Thank you</h2>
    <p class="section-text">Can I tell you something?</p>
    <a href="#6" class="link">
      Yes
    </a>
  </div>
</section>
<section id="6" class="section">
  <div>
    <h2 class="section-title">Yes</h2>
    <p class="section-text">I love you!</p>
    <a href="#7" class="link">
      I love you too
    </a>
  </div>
</section>
<section id="7" class="section">
  <div>
    <h2 class="section-title">I love you too</h2>
    <p class="section-text">I'm happy to hear that!</p>
    <p class="section-text">It is a short time to know, I have in mind other situations to achieve in my life. But, what I
      want most now, is to find you and take your hand.</p>
    <a href="#8" class="link">
      Really?
    </a>
  </div>
</section>
<section id="8" class="section">
  <div>
    <h2 class="section-title">Really?</h2>
    <p class="section-text">Yes, I want to be with you!</p>
    <a href="#9" class="link">
      I want to be with you too
    </a>
  </div>
</section>
<section id="9" class="section">
  <div>
    <h2 class="section-title">
      I want to be with you too
    </h2>
    <p class="section-text">Please wait for me and I will be with you, no matter what I do, I will work hard to get to where
      you are and be together.</p>
    <a href="#10" class="link">I...</a>
  </div>
</section>
<section id="10" class="section">
  <div>
    <h2 class="section-title">Will you wait?</h2>
    <p class="section-text">© 2020 The Queen Warrior. Made with 💖 love</p>
  </div>
</section>